@using Proyecto2.Model
@model Proyecto2.Model.Subasta

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-4">
         <img src="@Model?.ObraArteNavigation?.ImagenObra?.FirstOrDefault()?.Imagen" class="w-100"/>
         <div class=" row content_images">
            @foreach (ImagenObra imagenObra in Model?.ObraArteNavigation?.ImagenObra)
            {
               <button class="col btn_Image">
                    <img src="@imagenObra.Imagen" class="image" />
               </button> 
            }
         </div>
     </div>
    <div class="col-8">
        <h2 class="border-bottom pb-1">@Model.ObraArteNavigation.Titulo</h2>

        <p>Precio Actual: <span class="text-primary">@Model.PrecioActual $</span></p>

        <div class="group-info row">
            <h3 class="col-sm-4 title_group">Artista</h3>
            <p  class="col-sm-8">@Model.ObraArteNavigation.ArtistaNavigation.Nombre</p>
        </div>

        <div class="group-info row border-bottom">
            <h3 class="col-sm-4 title_group">Descripcion</h3>
            <p  class="col-sm-8">@Model.ObraArteNavigation.Descripcion</p>
        </div>
 
     </div>
</div>
