@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using Proyecto2.Enums
@using Proyecto2.Model
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


@{
    string? json = HttpContextAccessor.HttpContext.Session.GetString(SessionKey.usuario.ToString());
    bool login = json is null ? true : false;
    Usuario usuario = null;
    if (!login)
    {
         usuario = JsonConvert.DeserializeObject<Usuario>(HttpContextAccessor.HttpContext.Session.GetString("usuario"));
    }

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Proyecto2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Proyecto2.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Proyecto2</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (usuario?.TipoUsuario == 1)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="ObraArte" asp-action="Index">ObraArte</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Subasta" asp-action="Index">Subasta</a>
                            </li>
                        }

                        @if (login)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Acceso" asp-action="Registrar">Registrarse</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Acceso" asp-action="Login">Iniciar Sesion</a>
                            </li>
                        }
                
                    </ul>

                    @if (!login)
                    {

                        <button id="btn_modal" class="buttonPhoto" type="button"  data-toggle="modal" data-target="#myModal">
                           <img class="photoUser" src="~/images/bell-fill.svg" />
                       </button>


         
                    
                       <button class="buttonPhoto">
                           <a class="aPhoto nav-link text-dark" asp-route-id="@usuario?.Id" asp-controller="Usuario" asp-action="Edit">
                               @if (usuario?.Foto == null)
                               {
                                   <img class="photoUser" src="~/images/person-circle.svg" />

                               }
                               else
                               {
                                   <img class="photoUser" src="@usuario.Foto" />

                               }
                               <p>@usuario.NombreUsuario</p>
                           </a>

                       </button>
                        
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()

            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Notificaciones</h4>
                        </div>
                        <div class="modal-body">
                            <div class="content_notificacion">
                             @if (ViewBag.notificaciones !=null)
                            {
                                    @foreach (Notificacion notificacion in ViewBag.notificaciones)
                                    {
                                        <h2 class="ntitle">@notificacion.Titulo</h2>
                                        <p class="dtitle">@notificacion.Descripcion</p>
                                        <p class="ftitle">@notificacion.Fecha</p>
                                    }
                                  
                            }
                   
                           </div>
                        </div>
                        <div class="modal-footer">
                            <button id="btn_modal_close" type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>

                </div>
            </div>
        </main>

    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Proyecto2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>

        const btn_modal = document.getElementById("btn_modal");
        const btn_modal_close = document.getElementById("btn_modal_close");
        btn_modal.addEventListener("click", () => {
            console.log($("#myModal").modal);
            $("#myModal").modal("show");
        });

        btn_modal_close.addEventListener("click", () => {
            console.log($("#myModal").modal);
            $("#myModal").modal("toggle");
        });


    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
