
@using Proyecto2.Model
@using Proyecto2.ViewModels;
@model ObraArteViewModel;

@{
    ViewData["Title"] = "Create";
}

<a class="regresar" asp-action="Index"><i class="fas fa-arrow-left"></i></a>

<h4 class="d-inline-block">
    
    @(Model == null ? "Agregar obra de arte" : "Editar obra de arte")

</h4>
<hr />

<div class="row">

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Información General</button>
            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Dimensiones</button>
            <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Imagenes</button>
        </div>
    </nav>
    <div class="col-md-12">

        <form asp-action="@( Model == null  ? "Create" : "Edit")">

            <input type="hidden" asp-for="obraArte.Id" />
            <input type="hidden" asp-for="dimensionObra.Id" />

            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active  mt-3 mb-3" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
 
                    <div class="form-group">
                        <label asp-for="obraArte.CategoriaObra" class="control-label"></label>
                        <select asp-for="obraArte.CategoriaObra" class="form-control" asp-items="ViewBag.CategoriaObra"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="obraArte.Titulo" class="control-label"></label>
                        <input asp-for="obraArte.Titulo" class="form-control" />
                        <span asp-validation-for="obraArte.Titulo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="obraArte.Descripcion" class="control-label"></label>
                        <input asp-for="obraArte.Descripcion" class="form-control" />
                        <span asp-validation-for="obraArte.Descripcion" class="text-danger"></span>
                    </div>
                </div>
                <div class="tab-pane fade  mt-3 mb-3" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="dimensionObra.Altura" class="control-label"></label>
                            <input asp-for="dimensionObra.Altura" class="form-control" />
                            <span asp-validation-for="dimensionObra.Altura" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="dimensionObra.Ancho" class="control-label"></label>
                            <input asp-for="dimensionObra.Ancho" class="form-control" />
                            <span asp-validation-for="dimensionObra.Ancho" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="dimensionObra.Profundidad" class="control-label"></label>
                            <input asp-for="dimensionObra.Profundidad" class="form-control" />
                            <span asp-validation-for="dimensionObra.Profundidad" class="text-danger"></span>
                        </div>

                    </div>
                </div>
                <div class="tab-pane fade mt-3 mb-3" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    
                    <input asp-for="listImgAgregar" class="form-control d-none" />
                    <input asp-for="listImgEliminar" class="form-control d-none" />
                    <input asp-for="listImgEliminarId" class="form-control d-none" />

                    <div id="content_Img" class="content_Img">
                        <button class="image_content border-0 ">
                            <div class="content_photoEdit">
                                <img class="addImg" src="~/images/add.svg" />
                                <input id="picField" type="file" class="inputEditPhoto" name="photo" />
                            </div>
                        </button>
                        @if (Model != null && Model.listImagenesObra !=null)
                        {
                            @foreach (ImagenObra imagenObra in Model.listImagenesObra)
                            {
                                <div class="image_content">
                                    <div><a onclick="clickId(@imagenObra.Id)" id="@imagenObra.Id" class="btn_delete"><img src="../../images/trash3.svg"></a></div>
                                    <img class="image_obraArte" src="@imagenObra.Imagen" />
                                </div>
                            }
                            
                        }
                    </div>
                </div>
            </div>

    
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />

            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>

    function clickId(id) 
    {
        const btnDelete = document.getElementById(id);
        const divPrincipal = btnDelete.parentNode.parentNode;
        const inputImg = document.getElementById('listImgEliminarId');
        inputImg.value += id + "^"
        divPrincipal.remove();
    }

    document.getElementById('picField').onchange = function (evt) {
        var tgt = evt.target || window.event.srcElement,
            files = tgt.files;

        console.log('entro');
        // FileReader support
        if (FileReader && files && files.length) 
        {
            const content = document.getElementById('content_Img');
            const inputImg = document.getElementById('listImgAgregar');
            const newDiv = document.createElement("div");
            newDiv.className = "image_content "
            const newImg = document.createElement("img");
            newImg.className = "image_obraArte"
            var fr = new FileReader();
            fr.onload = function () {
                newImg.src = fr.result;
                inputImg.value += fr.result + "^"
            }
            fr.readAsDataURL(files[0]);

            newDiv.innerHTML = '<div><a class="btn_delete"><img src="../../images/trash3.svg"></a></div>'
            newDiv.appendChild(newImg);
            content.appendChild(newDiv);

          

            const button = newDiv.querySelector('.btn_delete');
            button.addEventListener('click', (event) => {
                event.preventDefault();
                let id = event.target.id;
                let divPrincipal = event.target.parentNode.parentNode.parentNode;
                let img = divPrincipal.querySelector('.image_obraArte');
                const inputImg = document.getElementById('listImgEliminar');
                inputImg.value += img.src + "^"
                divPrincipal.remove();
          
            });

        }

        // Not supported
        else {
            // fallback -- perhaps submit the input to an iframe and temporarily store
            // them on the server until the user's session ends.
        }
    }
</script>
