@model Proyecto2.Model.ObraArte

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>¿Usted está seguro de eliminar esto?</h3>
<div>
    <a class="regresar" asp-action="Index"><i class="fas fa-arrow-left"></i></a>
    <h4 class="d-inline-block">ObraArte</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            Categoria
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoriaObraNavigation.Descripcion)
        </dd>
    </dl>
    
    <form asp-action="Delete" class="pt-3">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Elimnar" class="btn btn-danger" /> 
    </form>
</div>
