@model Proyecto2.Model.Subasta



    <h3>¿Usted está seguro de eliminar esto?</h3>
<div>
    <a class="regresar" asp-action="Index"><i class="fas fa-arrow-left"></i></a>
    <h4 class="d-inline-block">Subasta</h4>
    <hr />
    <dl class="row">
           
        <dt class = "col-sm-2">
            Titulo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObraArteNavigation.Titulo)
        </dd>
        <dt class = "col-sm-2">
                Precio Inicial
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioInicial)
        </dd>
        <dt class = "col-sm-2">
                Precio Actual
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioActual)
        </dd>
        <dt class = "col-sm-2">
                Fecha Inicial
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInicial)
        </dd>
        <dt class = "col-sm-2">
                Fecha Cierre
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCierre)
        </dd>
    
    </dl>
    
    <form asp-action="Delete" class="pt-3">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
    </form>
</div>
