@model IEnumerable<Proyecto2.Model.Transaccion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tarjeta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eliminado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfertaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubastaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tarjeta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Eliminado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfertaNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubastaNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioNavigation.Contrasena)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
